<div class= "container col-4 my-15">
<h1>My tasks</h1>

<ul>
  <% @tasks.each do |t| %>
    <li><input type="checkbox" <%= t.completed ? "checked" : "" %>>
      <%= link_to t.title, task_path(t) %> 
      <p class="delete"><%= link_to "Delete", delete_path(t),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
    </li>
  <% end %>
</ul>

<button  type="button" class="btn"><%= link_to "+ Add a new task", new_path  %></button>
</div>
